Repository project-studying-dotnet/Streetcode-Server-December, pull requests merged in 2025-01, with the labels that each got.

#317 Add fluent validation and write tests for Interesting facts and Chronology blocks
  Streetcode/Streetcode.BLL/Validation/Validators/CommandsAndQuerysValidators/CreateFactCommandValidator.cs
  Streetcode/Streetcode.BLL/Validation/Validators/CommandsAndQuerysValidators/CreateTimelineItemCommandValidator.cs
  Streetcode/Streetcode.BLL/Validation/Validators/DTOValidators/Fact/CreateFactDtoValidator.cs
  Streetcode/Streetcode.BLL/Validation/Validators/DTOValidators/TimelineItem/TimelineItemCreateDtoValidator.cs
  Streetcode/Streetcode.XUnitTest/ValidatorTests/CreateFactCommandValidatorTests.cs
  Streetcode/Streetcode.XUnitTest/ValidatorTests/CreateTimelineItemCommandValidatorTests.cs
Labels: test

#336 fix/300/change-string-init
  Streetcode/DbUpdate/Program.cs
Labels: maintainability

#328 feat/150/create-term
  Streetcode/Streetcode.BLL/DTO/Terms/TermCreateDTO.cs
  Streetcode/Streetcode.BLL/Mapping/Terms/TermProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Terms/CreateTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Terms/CreateTermHandler.cs
  Streetcode/Streetcode.BLL/Services/BlobStorageService/BlobService.cs
  Streetcode/Streetcode.BLL/Streetcode.BLL.csproj
  Streetcode/Streetcode.BLL/Validation/Validators/CommandsAndQuerysValidators/CreateTermCommandValidator.cs
  Streetcode/Streetcode.BLL/Validation/Validators/DTOValidators/Terms/TermCreateDTOValidator.cs
  Streetcode/Streetcode.WebApi/Controllers/Terms/TermController.cs
  Streetcode/Streetcode.WebApi/Extensions/SeedingLocalExtension.cs
  Streetcode/Streetcode.WebApi/Extensions/ServiceCollectionExtensions.cs
  Streetcode/Streetcode.XUnitTest/ControllerTests/NewFolder/TermControllerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/MediaTests/AudioTests/GetBaseAudioHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Terms/CreateTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/ValidatorTests/CreateTermCommandValidatorTests.cs
  Streetcode/Streetcode.XUnitTest/ValidatorTests/TermCreateDtoValidatorTests.cs
  Streetcode/Streetcode.XUnitTest/stylecop.json
  Streetcode/UserService.BLL/Interfaces/User/IUserPasswordService.cs
  Streetcode/UserService.BLL/Services/User/UserPasswordService.cs
  Streetcode/UserService.WebApi/Program.cs
  Streetcode/UserService.WebApi/UserService.WebApi.csproj
  Streetcode/UserService.XUnitTest/ServicesTests/User/UserPasswordServiceTest.cs
Labels: user story
